@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,700;1,300;1,400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: borderbox;
  font-size: 62.5%;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Inter Tight", sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
.container {
  padding: 0 5px;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}
.header {
  background-color: rgb(0, 65, 25);
  position: relative;
}
.navbar {
  display: flex;
  height: 10vh;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: white;
}

.boton {
  margin: 0 0.2rem;
  padding: 1rem 2rem;
  background: green;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;

  transition: all 0.2s ease;
}
.boton:hover {
  background: rgb(0, 160, 0);
  cursor: pointer;
}
.navbar__menu {
  cursor: pointer;
}

.navbar__menu i {
  font-size: 3rem;
}

.navbar__menu__movil {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  transition: ease-in-out 0.3s;
  z-index: 10;
  color: white;
}
@media (min-width: 768px) {
  .navbar__menu__movil {
    width: 30%;
  }
}
.open {
  transform: translateX(0);
}
.cerrar {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  border: 2px solid white;
  padding: 10px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 3rem;
  right: 3rem;
}
.navbar__menu__movil__list {
  list-style: none;
}
.navbar__menu__movil__list li {
  padding: 20px 0;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}
.navbar__menu__movil__list li:hover {
  color: rgb(255, 148, 148);
  cursor: pointer;
  padding-left: 10px;
}
.hero {
  height: 100vh;
  position: relative;
}
.hero video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
  z-index: 1;
}

.hero__overlay {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 2rem;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 5;
}
.hero p {
  font-size: 400%;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
.hero span {
  text-align: center;
  font-size: 2rem;
}
.hero__button {
  background-color: transparent;
  border: 2px solid;
  padding: 1.8rem 3.5rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
  transition: ease-in-out 0.3s;
}

.hero__button:hover {
  background-color: rgb(255, 44, 44);
  color: white;
  cursor: pointer;
}
.welcome {
  padding-top: 3rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  .welcome {
    padding-top: 3rem;
    flex-direction: row;
  }
  .welcome__info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}
.welcome {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.welcome__imagenes {
  position: relative;
  flex: 0 0 calc(50%);
  gap: 1rem;
  justify-content: space-between;
  display: flex;
}
.welcome__imagenes,
.welcome__info {
  flex: 0 0 calc(50% - 1rem);
}
.welcome__imagenes_2 > div {
  margin-bottom: 0.5rem;
}

.welcome__info h2 {
  color: green;
  padding: 0.5rem 0;
}
.welcome__info h1 {
  padding: 1rem 0;
}
.welcome__info p {
  line-height: 2.5rem;
}
.welcome__info__link {
  background: rgb(255, 105, 105);
  padding: 1.5rem 3rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: block;

  text-align: center;
  margin: 1rem 0;
  border-radius: 0.5rem;
  transition: all ease-in-out 0.2s;
}
@media (min-width: 610px) {
  .welcome__info__link {
    width: fit-content;
  }
}
.welcome__info__link:hover {
  background-color: rgb(255, 44, 44);
  box-shadow: 0.5rem 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.2);
}

.platillos__titulo2 {
  font-size: 3rem;
  text-align: center;
  margin: 30px 0;
}

.platillos__platos {
  display: grid;
}

@media (min-width: 610px) {
  .platillos__platos {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .platillos__platos {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.plato {
  position: relative;
  margin: 10px 0;
  padding: 0.8rem;
  border: solid 1px rgb(197, 197, 197);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px 1px rgba(95, 95, 95, 0.2);
}
.plato__titulo {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
}

.plato__precioBoton {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}
.plato__precio {
  font-weight: bold;
  font-size: 2rem;
}

.plato__button {
  background-color: green;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  transition: all ease-in-out 0.2 s;
}
.plato__button:hover {
  background-color: rgb(31, 153, 31);
  cursor: pointer;
  box-shadow: 1px 1px 10px 2px greenyellow;
}

.filtro-categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0 1rem;
}
.filtro-categorias button {
  flex: 0 0 calc(50% - 1rem);
  margin-bottom: 1rem;
}
@media (min-width: 610px) {
  .filtro-categorias {
    justify-content: left;
  }
  .filtro-categorias button {
    flex: 0 0 0;
    margin-bottom: 1rem;
  }
}

.active {
  background: black;
}

.restaurante {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  background: url(./assets/imgs/ensalada.jpg);
  background-position: center center;
  background-attachment: fixed;
}

.restaurante > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background-color: rgb(0, 0, 0, 0.6);

  -webkit-backdrop-filter: blur(10px);
  font-size: 2.5rem;
  color: white;
  text-align: center;
  padding: 2rem 0;
}
.restaurante > div > p {
  font-size: 1.8rem;
  margin: 20px 0;
}
@media (min-width: 640px) {
  .restaurante div h4 {
    font-size: 3.5rem;
  }
  .restaurante > div > button {
    align-self: center;

    width: fit-content;
  }
}
.restaurante__boton {
  margin: 0 5px;
  font-weight: 400;
}

.chef {
  padding: 10px;
  display: grid;
  gap: 10px;
}

.chef .chef__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.chef .chef__info h4 {
  font-size: 2rem;
}
@media (min-width: 640px) {
  .chef {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .chef .chef__info button {
    width: fit-content;
  }
  .chef .chef__info h4 {
    font-size: 2.5rem;
  }
}
